html, body {
    margin: 0;
    padding: 20;
    font-family:'Press Start 2P', cursive, serif;
}
body {
    background-image: url('../snakegame/img/bg1.gif');
    background-size: cover;
    height: 100%;
    padding:0;
    margin:0;
    text-align:center;
}
.header {
    background: black;
    width: 400px;
    margin: 0 auto;
}
#title {
    margin-top: 60px;
    text-align: center;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
    background-size: 400%;
    width: 400px;
    margin: 40px auto;
    padding: 30px 0;
}
@keyframes animate{
    0% {
        background-position: 0%;
    } 
    100% {
        background-position: 400%;
    }
}
h2 { 
    font-size: 24px;
    color: white;
    width: 350px;
    margin: 0 65% 15px 35%;
}
#btn { 
    text-decoration: none;
    font-family: inherit;
    border: 2px dotted white;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px 5px;
    margin-bottom: 20px;    
}
#btn:focus {
    outline: none;
}
#btn:active {
    margin-left: 5px;
    margin-top: 5px;
}
/* // grid */

.field {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 4px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgba(40, 40, 37, .9);
}
.square {
    width: 40px;
    height: 40px;
}
/* snake */
.snake {
    background-color: black;
}
.apple {
    background: firebrick;
}
.dead {
    background-color: red;
}